body {
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.score {
    background: #080001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

button {
    background: #F94F6D;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

button:hover {
    background: #d93c58;
}